
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <META charset="utf-8" />
    <STYLE type="text/css">
        body {
            background-color: darkgray;
        }
    </STYLE>
</head>
<body>
    <h2>O que eu entendi como MVC?</h2>

    <h3><br />Model - View - Controller(MVC)<br />
    <br />Model = Responsável pela escrita e leitura de dados, e também das validações.
    <br />View = Responsável pela exibição da tela, é a camada de interação com o usuário.
    <br />Controller = Responsável por controlar tudo, recebe suas requisições do usuário e por meio de ações controla qual view e qual model será utilizado.
    </h3>
</body>
</html>

